# Python 
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Docker & IDE
.vscode/
.idea/
.docker/

# Environment Variables (สำคัญมาก! ห้ามอัปไฟล์ที่มีรหัสผ่าน)
.env
.env.*
!.env.example

# Database (ถ้ามีไฟล์ sqlite หรือ log)
*.sqlite3
*.log
database/data/  # สมมติว่าเก็บข้อมูลดิบไว้ในนี้

# Ngrok & Executables
ngrok.exe
ngrok.yml
*.exe

# Local Scripts
run_sleepcare.ps1
*.ps1
*.sh